{% extends 'base.html.twig' %}



{% block title %}{{ article.title }}{% endblock %}

{% block body %}

 <div class="container mt-3">
    <div class="text-center">
        {% if article.featuredVideo %}
        <div class="d-flex justify-content-center align-items-center video-container"> 
           <iframe width="560" height="315" src="{{ asset('uploads/' ~ article.featuredVideo.altText) }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        {% else %}
        <div class="d-flex justify-content-center align-items-center"> 
            <img src="{{ asset('uploads/' ~ article.featuredImage.filename) }}" class="small-img" alt="{{ article.title }}">
        </div>
        {% endif %}
</div>

        <div class="row mt-5">
            <div class="col">
                <h1 class="article-title">{{ article.title }}</h1>
                 <p>Le : {{ article.createdAt }} </p> <p class="mt-2 mb-2">  {% for category in article.categories %}   <span style="background-color: {{ category.color }}; padding: 5px; color:white">{{ category.name }}</span> </p>{% endfor %}
                <hr>
            </div>
        </div>
        <div class="row">
           <div class="col-1"></div>
            <div class="col-10">
                <div id="article-content" class="article-content">
                    <p>{{ article.content | raw }}</p>  
              
  </div>
            </div>
   <div class="col-1"></div>
        </div>
<div class="text-center mt-5">
         <a href="{{ path('app_tutoriel')}}" class="btn btn-1">Voir d'autres tutoriel</a>
</div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('article') }}
    {{ encore_entry_script_tags('comment') }}
{% endblock %}